.ImageUpload__progressBar {
  margin-bottom: 1rem;
  border-radius: 36px;
  background-color: #fff9fb;
  border: 1px solid rgba(0, 0, 0, 0.23);
  overflow: hidden;
  width: 100%;
}

.ImageUpload__file {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  width: 100%;
}
