.Sidebar {
  width: 1.5vw;
  height: 200vh;
  position: fixed;
  top: 0;
  margin-left: 1vw;
  box-sizing: border-box;
  border-left: 2px dashed #bbc7c9;
  border-right: 2px solid #bbc7c9;
  animation: up-sidebar 2.5s cubic-bezier(0.77, 0.07, 0.32, 1),
    loop-sidebar 20s linear infinite;
}

/* KEYFRAMES */

@keyframes up-sidebar {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}

@keyframes loop-sidebar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
