* {
  margin: 0;
}

.App {
  background-color: #fff9fb;
  font-family: "Montserrat", sans-serif;
  color: #0a0a0a;
}

.App__header {
  background-color: #8f5c38;
  border-top: 1px dashed #fff9fb;
  border-bottom: 1px solid #fff9fb;
  padding: 0 2vw;
}

.Header__logo {
  display: flex;
  align-items: center;
}

.Header__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #fff9fb;
  padding: 1rem;
}
