* {
  margin: 0;
}

.App {
  background-color: #dde3e4;
  color: #08090a;
  letter-spacing: 1.1px;
}

.App__header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #8f5c38;
  border-top: 1px solid #fff9fb;
  box-shadow: 0px -10px 10px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header__logo {
  display: flex;
  align-items: center;
}

.Header__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #fff9fb;
}

.App__logContainer {
  margin: 0.7rem 3vw 0.7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App__logButton {
  margin-left: 1vw;
}
