* {
  margin: 0;
}

.App {
  background-color: #dde3e4;
  color: 0a090c;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
}

/* top Navbar */
.App__header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #999dad;
  border-bottom: 1px solid #fff9fb;
  box-shadow: 0px -10px 10px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header__logo {
  display: flex;
  align-items: center;
}
.Header__title {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #fff9fb;
  letter-spacing: 1.5px;
}
.App__logContainer {
  margin: 0 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App__logButton {
  background-color: #6b91c7;
  color: #fff9fb;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
  margin-left: 1vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.App__logButton:hover {
  background-color: #3e68a3;
  color: #fff9fb;
}
/* bottom Navbar */

.App__container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.App__postsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .App__instagramEmbed {
  margin-left: 2vw;
  border-radius: 4px;
  border: 1px solid #bbc7c9;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
} */

.App__addPost {
  position: fixed;
  top: 6rem;
  right: 3vw;
}

/* button add */
.App__addPostButton {
  padding: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6b91c7;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.App__addPostButton:hover {
  background-color: #3e68a3;
  transform: scale(1.1);
}

/* message not logged */
.App__notLogMessage {
  text-align: center;
  font-size: 1rem;
  color: #fff9fb;
  background-color: #363a44;
  padding: 1rem;
}
